@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf)
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#text-sidebar, footer, button {
    color: white;
}

#main-flex-container {
    display: flex;
    height:963px;
}

#left-container, #image-sidebar {
    background-repeat: no-repeat;
}

#left-container, #main-sidebar, footer {
    width: 546px;
}

#left-container {
    background-image: url("image-resized.jpg");
}

#main-sidebar {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    gap: 10px;
    backdrop-filter: brightness(55%);
}

#image-sidebar {
    background-image: url("odin-lined-resized.png");
    height: 127px;
    width: 95px;
}

#text-sidebar {
    align-self: center;
    font-size: 5em;
    font-family: Norse-Bold;
}

footer {
    margin-top: 630px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    justify-content: center;
}

.photo-link {
    text-decoration: underline;
}

#right-container {
    background-color: #ededed;
    width: 80%;
}

#quote-container, #form-title {
    font-weight: 600;
}

#quote-container {
    width: 580px;
    margin-left: 30px;
    margin-top: 130px;
    line-height: 1.2em;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 50px;
}

#form-container {
    background-color: white;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 30px;
}

#form-title {
    font-size: 1.3em;
}

#flex-form-container {
    margin-top: 15px;
    display: flex;
    gap: 50px;
}

#flex-left-form, #flex-right-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



label {
    font-size: 0.7em;
    font-weight: 600;
    color: #242323;
}


input {
    background-color: #E5E7EB;
    border: 1px solid grey;
    border-radius: 2px;
    height: 20px;
    width: 250px;
}

input:focus {
    border: 1px solid aqua;
    outline: none;
}






button, #LOGIN {
    margin-left: 30px;
    margin-top: 25px;
}

button {
    background-color:#596D48;
    
    
    width: 160px;
    height: 40px;
    border: 1px solid black;
    border-radius:7px;
}

#LOGIN {
    font-weight: 600;
    font-size: 0.9em;
}

#log-in-link {
    color:#596D48;
}